html {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  border: 20;
  margin: 0;
  font-family: sans-serif;
  font-size: 9pt;
}

.topbar {
  background-color: black;
  height: 26px;
  margin: 0;
  border: none;
  font-weight: bold;
}

.title {
  margin-left: 20px;
  color: white;
  font-size: 16pt;
}

.app {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}
